.display {
    width: 100%;
    z-index: 1;
}

.card-container {
    /* We first create a flex layout context */
    display: flex;
    
    /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: row wrap;
    
    /* Then we define how is distributed the remaining space */
    justify-content: space-around;
    
    padding: 0;
    margin: 0;
    list-style: none;
}

.card {
    margin:10px;
    background: white;
    border: 1px solid black;
    padding: .5em;
    width: 150px;
    height: 150px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: .96em;
    text-align: center;
    background-image: url('img/coronavirus-white.png');
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.black {
    background: black;
    color: white;
    background-image: url('img/coronavirus-black.png');
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.players {
    background: #eeeeee;
    color: black;
    width: 200px;
}

.selected {
    background: #00ddff;
    color: black;
    background-image: url('img/coronavirus-white.png');
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.popup {
    background: white;
    border: 1px solid black;
    z-index: 10;
    height: 125px;
    width: 250px;
}

.cards-in-play-popup {
    background: white;
    border: 1px solid black;
    z-index: 10;
    overflow: scroll;
    height: 80%;
    width: 80%;
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    text-align: center;
}

.hidden {
    display: none;
}

.score {
    float: right;
}

.player {
    text-align: left;
    font-size: .8em;
    padding-left: 1.5em;
}

.self {
    color: #990099;
}

.czar {
    background-image: url(img/czar.png);
    background-repeat: no-repeat;
    background-position: -5px;
    background-size: 24px 24px;
}

.ready {
    background: #00ddff;
}

.waiting {
    background: white;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: #333333cc;
}

label {
    margin-right: 5px;
}